ion-content.inicio{
    --background:url(../../assets/imgfondo2.jpeg); 
}
.qr{
    position: relative;
    top: 12vh;
    margin-left:10.5%;

}

.content-qr{
    position:relative;
    color:  #ffffff;
    text-align: center;
}
.btnqr{
    background-color: #F78D90;
    color: white;
    border-radius: 10px;
}
.menu{
    --background: #19214f;

}